
// nsw-primary-blue	#002664	
 

// nsw-primary-highlight	#d7153a	
 

// nsw-secondary-blue	#2e5299	 #002664
 

// nsw-tertiary-blue	#0085b3


:root {
  --font-body: 'Montserrat', Helvetica,Arial, -apple-system, sans-serif;
  --font-heading: 'Montserrat', Helvetica,Arial, -apple-system, sans-serif;
  --color-bg: hsl(0, 0%, 100%);
  --color-brand: #d7153a;
  --color-primary: #002664;
  --color-secondary: #2e5299;
  --color-dark: #002664;
  --color-dark1: hsl(226, 21%, 12%);
  --color-black-trans1: rgba(0, 0, 0, 0.1);
  --color-black-trans2: rgba(0, 0, 0, 0.5);
  --color-black-trans3: rgba(0, 0, 0, 0.8);
  --color-white-trans1: rgba(255, 255, 255, 0.3);
  --color-white-trans2: rgba(255, 255, 255, 0.5);
  --color-white-trans3: rgba(255, 255, 255, 0.8);
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

iframe {
  display: none;
}

html {
  font-family: var(--font-body);
  font-weight: 300;
  font-size: 10px;
  margin: 0;
  padding: 0;
  user-select: none;
}



@media only screen and (min-width: 1100px) and (min-height: 800px) {
  html {
    font-size: 14px;
  }
}

body {
  background: var(--color-primary);
  color: rgba(255, 255, 255, 1);
  margin: 0;
  line-height: 1.4;
  background: var(--color-dark) url('nsw-logo-white.svg') no-repeat;
  background-position: 5vw 120%;
  background-size: 160vw;
}

@media only screen and (min-width: 760px) {
  body {
    background-position: 28vw 59vh;
    background-size: 100vw;
  }
}

@media only screen and (min-width: 1020px) {
  body {
    background-position: 42vw 40vh;
    background-size: 80vw;
  }
}

main {
  height: 100vh;
  width: 100vw;
  max-width: 700px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

article {
  width: 100%;
  padding: 0 2.5rem;
  position: absolute;
}

.button-container {
  display: block;
  width: 100%;
  margin-top: 4rem;

  .msg {
    font-size: 1.3rem;
    color: var(--color-white-trans3);
    margin-top: 1.5rem;
    min-height: 1.5em;
  }
}

button {
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  min-width: 14rem;
  background: white;
  background:var(--color-brand);
  color: white;
  font-family: var(--font-heading);
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transform: scale(1.01);
  transition: all 200ms ease-out;
  box-shadow: 0 0 1rem 0 transparent;

  &:disabled {
    transform: scale(1) !important;
    color: var(--color-white-trans2);
    cursor: not-allowed;
  }

  &:hover {
    // box-shadow: 0 0 2rem 0 var(--color-black-trans3);
    transform: scale(1.05);
  }
}


kbd {
  color: var(--color-white-trans1);
  border: 1px solid;
  border-radius: 4px;
  min-width: 2em;
  padding: 0 0.5rem;
  display: inline-block;
  text-align: center;
  margin: 0 1.5rem;
  font-size: 1.2rem;
  transition: all 200ms linear;
  

  &:hover {
    color: var(--color-white-trans2);
  }
}

.tips {
  margin-top: 4rem;
  text-align: left;
  width: 35rem;
  font-size: 1.3rem;
  color: var(--color-white-trans3);
  transform-origin: 50%;

  kbd {
    margin: 0.5rem;
  }
}

ol {
  font-size: 1.8rem;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 1.5rem;
  padding-left: 1rem;
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  width: fit-content;
  display: flex;
  align-items: center;
  // font-weight: bold;

  kbd {
    margin:0 1.5rem 0.5rem 0;
    font-size: 1.4rem;
  }

  &:hover {
    kbd {
      color: var(--color-white-trans2);
      // border-color: var(--color-brand);
    }
  }
}

a {
  color: white;
  text-decoration: none;
  border-bottom: 0.3rem solid var(--color-black-trans1);
  transition: all 400ms ease-out;
  padding-bottom: 0.25rem;

  &:hover {
    border-color: var(--color-brand);
  }
}

.active {
  a {
    border-color: var(--color-brand);  
  }
}

h1,
.h1 {
  font-family: var(--font-heading);
  font-weight: 300;
  // font-weight: 800;
  font-size: 3rem;
}

nav {
 position: fixed;
 top: 0;
 left: 0;
 height: 6rem;
 width: 100%;
 padding: 0 2.5rem;
 font-size: 1.4rem;
 border-bottom: 1px solid var(--color-black-trans1);
 display: flex;
 align-items: center;
 justify-content: space-between;
 background: White;

  .right {
    display: flex;
  }

  .logo {
    height: 5rem;
    width: 13rem;
    background: url('ServiceNSW-logo.png') no-repeat;
    background-size: contain; 
    text-indent: -9999px;
  }

 .slide {
   margin-right: 2rem;
   color: var(--color-primary);
   span { 
    color: var(--color-black-trans2);
    padding: 0 0.3rem;
  }
 }

 button {
   padding: 0.2rem;
   min-width: 6rem;
   margin-left: 0.5rem;
   background: var(--color-primary)
 }
}


.dialog {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #141929;
  border-radius: 0.5rem;
  border: 3px solid var(--light-bg);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
