@font-face {
  font-family: "Westpac-bold";
  src: url("https://www.westpac.com.au/etc/designs/wbc/clientlib-all/assets/brand/font/WestpacLH-v2.003-Bold.otf")
    format("OpenType");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-body: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu",
    "Helvetica Neue", sans-serif;
  --font-heading: "Westpac-bold", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Ubuntu", "Helvetica Neue", sans-serif;
  --color-bg: hsl(0, 0%, 100%);
  --color-brand: hsl(4, 61%, 51%);
  --color-secondary: hsl(281, 78%, 47%);
  --color-dark: hsl(244, 48%, 21%);
  --color-dark1: hsl(226, 21%, 12%);
  --color-black-trans1: rgba(0, 0, 0, 0.1);
  --color-black-trans2: rgba(0, 0, 0, 0.5);
  --color-white-trans1: rgba(255, 255, 255, 0.2);
  --color-white-trans2: rgba(255, 255, 255, 0.5);
  --color-white-trans3: rgba(255, 255, 255, 0.8);
}

* {
  box-sizing: border-box;
}

iframe {
  display: none;
}

html {
  font-family: var(--font-body);
  font-weight: 200;
  font-size: 10px;
  margin: 0;
  padding: 0;
  user-select: none;
}



@media only screen and (min-width: 1100px) and (min-height: 800px) {
  html {
    font-size: 14px;
  }
}

body {
  background: var(--color-brand);
  color: rgba(255, 255, 255, 1);
  margin: 0;
  line-height: 1.4;
  background: var(--color-brand) url('westpac-logo-trans.svg') no-repeat;
  background-position: 5vw bottom;
  background-size: 160vw;
}

@media only screen and (min-width: 1020px) {
  body {
    background-position: 35vw bottom;
    background-size: 80vw;
  }
}

main {
  height: 100vh;
  width: 100vw;
  max-width: 700px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

article {
  width: 100%;
  padding: 0 2.5rem;
  position: absolute;
}

.button-container {
  display: block;
  width: 100%;
  margin-top: 4rem;

  .msg {
    font-size: 1.3rem;
    color: var(--color-white-trans3);
    padding-left: 1.5rem;
  }
}

button {
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  min-width: 14rem;
  background: white;
  font-family: var(--font-heading);
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 500ms ease-in-out;
  box-shadow: 0 0 1rem 0 var(--color-black-trans1);

  &:disabled {
    box-shadow: none !important;
    cursor: not-allowed;
  }

  &:hover {
    box-shadow: 0 0 1rem 0 white;
  }
}

ol {
  font-size: 1.8rem;
  margin: 0;
  padding-left: 2.5rem;
}

li {
  margin-bottom: 1.5rem;
  padding-left: 1rem;
}

a {
  color: white;
  text-decoration: none;
  border-bottom: 0.2rem solid var(--color-black-trans1);
  transition: all 300ms ease-out;
  padding-bottom: 0.25rem;

  &:hover {
    border-color: var(--color-black-trans2);
  }
}

.active {
  color:  var(--color-dark1);  
  a {
    color:  var(--color-dark1);  
    border-color: var(--color-dark1);  
  }
}

h1,
.h1 {
  font-family: var(--font-heading);
  font-weight: 200;
  font-size: 3rem;
}

nav {
 position: fixed;
 top: 0;
 left: 0;
 height: 4rem;
 width: 100%;
 padding: 0 2.5rem;
 font-size: 1.4rem;
 border-bottom: 1px solid var(--color-black-trans1);
 display: flex;
 align-items: center;
  justify-content: space-between;

  .right {
    display: flex;
  }

  .logo {
    height: 2rem;
    width: 6rem;
    background: var(--color-brand) url('westpac-logo-white.svg') no-repeat;
    text-indent: -9999px;
  }

 .slide {
   margin-right: 2rem;
   color: var(--color-white-trans3);
   span { 
    color: var(--color-black-trans2);
    padding: 0 0.3rem;
  }
 }

 button {
   padding: 0.2rem;
   min-width: 6rem;
   margin-left: 0.5rem;
 }
}


.dialog {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #141929;
  border-radius: 0.5rem;
  border: 3px solid var(--light-bg);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
